integrations/n8n/podcast-transcription-workflow.json
{
  "name": "Podcast Transcription via AssemblyAI with AI Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "podcast-transcribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "podcast-transcribe-webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "application": "={{ $json.body.baseId }}",
        "table": "={{ $json.body.tableId }}",
        "id": "={{ $json.body.recordId }}"
      },
      "id": "airtable-get-record",
      "name": "Get Podcast Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ASSEMBLYAI_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.fields.AudioFileURL }}"
            }
          ]
        },
        "options": {}
      },
      "id": "submit-to-assemblyai",
      "name": "Submit to AssemblyAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300],
      "webhookId": "podcast-transcribe-webhook"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ASSEMBLYAI_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "options": {}
      },
      "id": "check-transcription-status",
      "name": "Check Transcription Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-not-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-if-processing",
      "name": "Still Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $node['Webhook'].json.body.baseId }}",
        "table": "={{ $node['Webhook'].json.body.tableId }}",
        "id": "={{ $node['Webhook'].json.body.recordId }}",
        "options": {},
        "updateAllFields": false,
        "fields": {
          "field": [
            {
              "fieldId": "Transcription",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "id": "update-airtable-record",
      "name": "Update Airtable with Transcription",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Transcription and AI analysis completed\", \"recordId\": $node['Webhook'].json.body.recordId } }}"
      },
      "id": "webhook-response-success",
      "name": "Respond to Webhook - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Transcription failed\", \"status\": $json.status, \"error\": $json.error } }}"
      },
      "id": "webhook-response-error",
      "name": "Respond to Webhook - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-is-error",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-if-error",
      "name": "Transcription Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert fact-checker and content analyst. Your task is to:\n1. Analyze the podcast transcription for factual claims\n2. Identify key topics, themes, and insights\n3. Extract actionable items and important quotes\n4. Provide a concise summary with main takeaways\n5. Flag any claims that may need verification\n\nFormat your response as JSON with the following structure:\n{\n  \"summary\": \"Brief 2-3 sentence summary\",\n  \"key_topics\": [\"topic1\", \"topic2\"],\n  \"main_insights\": [\"insight1\", \"insight2\"],\n  \"fact_check_flags\": [{\"claim\": \"...\", \"reason\": \"...\"}],\n  \"actionable_items\": [\"item1\", \"item2\"],\n  \"notable_quotes\": [{\"quote\": \"...\", \"context\": \"...\"}]\n}"
            },
            {
              "role": "user",
              "content": "=Analyze this podcast transcription:\n\n{{ $('Check Transcription Status').item.json.text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        },
        "responseFormat": "json_object"
      },
      "id": "openai-fact-check-and-distill",
      "name": "OpenAI Fact-Check & Content Distillation",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1650, 200],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $node['Webhook'].json.body.baseId }}",
        "table": "={{ $node['Webhook'].json.body.tableId }}",
        "id": "={{ $node['Webhook'].json.body.recordId }}",
        "options": {},
        "updateAllFields": false,
        "fields": {
          "field": [
            {
              "fieldId": "AIAnalysis",
              "fieldValue": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "id": "update-airtable-with-ai-analysis",
      "name": "Update Airtable with AI Analysis",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1850, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Podcast Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Podcast Record": {
      "main": [
        [
          {
            "node": "Submit to AssemblyAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to AssemblyAI": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Check Transcription Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Transcription Status": {
      "main": [
        [
          {
            "node": "Still Processing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Processing?": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcription Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable with Transcription": {
      "main": [
        [
          {
            "node": "OpenAI Fact-Check & Content Distillation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Fact-Check & Content Distillation": {
      "main": [
        [
          {
            "node": "Update Airtable with AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable with AI Analysis": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription Error?": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Airtable with Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1"
}
