integrations/n8n/podcast-transcription-workflow.json
{
  "name": "Podcast Transcription via AssemblyAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "podcast-transcribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "podcast-transcribe-webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "application": "={{ $json.body.baseId }}",
        "table": "={{ $json.body.tableId }}",
        "id": "={{ $json.body.recordId }}"
      },
      "id": "airtable-get-record",
      "name": "Get Podcast Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ASSEMBLYAI_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $json.fields.AudioFileURL }}"
            }
          ]
        },
        "options": {}
      },
      "id": "submit-to-assemblyai",
      "name": "Submit to AssemblyAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300],
      "webhookId": "podcast-transcribe-webhook"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ASSEMBLYAI_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "options": {}
      },
      "id": "check-transcription-status",
      "name": "Check Transcription Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "notEquals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "check-if-processing",
      "name": "Still Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $node['Webhook'].json.body.baseId }}",
        "table": "={{ $node['Webhook'].json.body.tableId }}",
        "id": "={{ $node['Webhook'].json.body.recordId }}",
        "options": {},
        "updateAllFields": false,
        "fields": {
          "field": [
            {
              "fieldId": "Transcription",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "id": "update-airtable-record",
      "name": "Update Airtable with Transcription",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Transcription completed\", \"recordId\": $node['Webhook'].json.body.recordId } }}"
      },
      "id": "webhook-response-success",
      "name": "Respond to Webhook - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Transcription failed\", \"status\": $json.status, \"error\": $json.error } }}"
      },
      "id": "webhook-response-error",
      "name": "Respond to Webhook - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "error"
            }
          ]
        }
      },
      "id": "check-if-error",
      "name": "Transcription Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Podcast Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Podcast Record": {
      "main": [
        [
          {
            "node": "Submit to AssemblyAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to AssemblyAI": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Check Transcription Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Transcription Status": {
      "main": [
        [
          {
            "node": "Still Processing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Processing?": {
      "main": [
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcription Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable with Transcription": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription Error?": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Airtable with Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1"
}
